/* Estilo para botón flotante */
.boton-inicio {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
  }

/* Estilo para Foto y Nombre*/
#Header {
    margin: 0%;
}

#Foto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: 15px;
 }
 
 #Foto img {
    max-width: 100%;
 }

#NomyApe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Estilos para la experiencia laboral */
#botonExpO , #botonEstO {
    align-items: center;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    font-size: small;
}

*#Formacion , #Estudios {
    border-bottom: 2px solid black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
}

#Puesto {
    float: left;
    color: darkgrey;
    font-weight: normal;
}
#Periodo {
    flex-direction: row-reverse;
    text-align: right;
    color: gray;
    font-weight: lighter;
}
#Empresa {
    flex-direction: row;
    text-align: left;
    color: grey;
    font-weight: bold;
}
#Descripcion {
    color: gray;
    font-size: small;
    font-weight: normal;
    text-align: left;
    border-bottom: 1px solid rgba(220, 220, 220, 0.75);
}

/* Estilos para la info personal */
#Contact {
    width: 100%;
    justify-items: center;
    color: white;
    background-color: rgb(38, 39, 60);
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}

.infor {
    padding: 0px 15px 0px 15px;
}

.info-item {
    display: flex;
    align-items: baseline;
    padding-top: 10px;
    border-bottom: 1px solid rgba(220, 220, 220, 0.75);
    border-width: 100%;
}

.fa-solid {
    margin-right: 10px
}

#Telefono,
#EMail,
#Direccion,
#FechaNac,
#DNI {
    width: auto;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
}

/* Estilos para conocimientos */
#lis {
    font-size: large;
}

#con {
    font-size: small;
}

#nivel {
    text-align: left;
    font-weight: bold;
}

/* Estilo para Barra de Navegación */
#NavBar {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    justify-items: center;
    background: rgb(38, 39, 60);
    opacity: 90%;
    color: white;
}

a:link {color: white;}
a:visited {color: white;}
a:hover {color: gray;
    background: rgb(61, 63, 88);
}