/* Estilos para la foto de perfil */
/*.Foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    border: 5px solid white;
} */

#Foto {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 #Foto img {
    max-width: 100%;
 }

#NomyApe {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Estilos para la experiencia laboral */

#botonExpO , #botonEstO {
    align-items: center;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
    font-size: small;
}

*#Formacion , #Estudios {
    border-bottom: 2px solid black;
    text-align: center;
    margin-bottom: 25px;
}

#Puesto {
    float: left;
    color: darkgrey;
    font-weight: normal;
}
#Periodo {
    flex-direction: row-reverse;
    text-align: right;
    color: gray;
    font-weight: lighter;
}
#Empresa {
    flex-direction: row;
    text-align: left;
    color: grey;
    font-weight: bold;
}
#Descripcion {
    color: gray;
    font-size: small;
    font-weight: normal;
    text-align: left;
}

/* Estilos para la info personal */
#Contact {
    color: white;
    background-color: rgb(38, 39, 60);
    font-weight: bold;
    text-align: center;
}

.Datos {
    text-align: left;
    font-weight: lighter;
    color: rgb(38, 39, 60);
}

/* Estilos para estudios */

/*#botonEstO {
    align-items: center;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    width: fit-content;
    height: fit-content;
}*/

/*#Estudios {
    border-bottom: 2px solid black;
    text-align: center;
    margin-bottom: 25px;
}*/

/* Estilos para conocimientos */
.col-3 {
    background-color: rgb(237, 241, 247);
}

#lis {
    font-size: large;
}

#con {
    font-size: small;
}

#nivel {
    text-align: left;
    font-weight: bold;
}

/* Más estilos para la experiencia laboral */
.containerA {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(220, 220, 220, 0.75);
    margin-bottom: 25px;
}

.div1 {
    float: left;
    width: 50%;
}

.div2 {
    float: right;
    width: 50%;
}

.div4 {
    border-bottom: 1px solid rgba(220, 220, 220, 0.75);
}

/* Estilo para Barra de Navegación */
#NavBar {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background: rgb(38, 39, 60);
    opacity: 90%;
    color: white;
}

a:link {color: white;}
a:visited {color: white;}
a:hover {color: gray;
    font-size: 90%;
    background: rgb(61, 63, 88);
    border: 2px solid black;
    border-radius: 20%;
}